.divide{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 700px;
}
.divide1{
    background-color: rgb(29, 39, 54);
    color: white;
    width: 530px;
    height: 530px;
    position: relative;
    top: 20px;
    left: 80px;
    border-radius: 20px;
}
.divideh1{
    color: white;
    width: 350px;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    top: 110px;
    left: -10px;
    margin: auto;

}
.dividep{
    color: white;
    position: relative;
    top: 130px;
    margin: auto;
    width: 380px;
    right: -10px;
}
.dividebtn{
    width: 190px;
    background-color: white;
    color: rgb(67, 67, 245);
    padding: 15px;
    height: 80px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    left: 160px;
    top: 170px;
}
.divide2{
    position: relative;
    top: 20px;
    width: 530px;
    height: 530px;
}
.divide2h1{
    width: 400px;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: -10px;
    text-align: center;
    margin: auto;
}
.divflex{
    display: flex;
    margin-bottom: 10px;

}
.divide2div1{
    width: 70px;
    height: 70px;
    font-weight: 600;
    font-size: 30px;
    background-color: white;
    color: aquamarine;
    border-radius: 70px;
    text-align: center;

}
.divide2div2{
    width: 70px;
    height: 70px;
    background-color: white;
    font-weight: 600;
    font-size: 30px;
    border-radius: 70px;
    text-align: center;

}
.divide2div3{
    width: 70px;
    height: 70px;
    background-color: white;
    color: rgb(251, 183, 23);
    border-radius: 70px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
   align-content: center;
}
.divide21{
 background-color: rgb(237, 249, 248);
 padding: 25px;
 margin-bottom: 10px;
 border-radius: 15px;
}
.divide22{
    background-color: rgb(248, 252, 252);
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
   }
   .divide23{
    background-color: rgb(255, 243, 215);
    padding: 25px;
    margin-bottom: 10px;
    border-radius: 15px;
   }
   .divide2p{
    width: 350px;
    font-size: 18px;
    margin-left: 20px;
   }