.main5{
    display: flex;

}
.overview{
    width: 1700px;
    font-size: 35px;
    font-weight: bolder;
position: relative;
left: 290px;
top:400px;
word-spacing: 2px;

}
.main5p{
    font-size: 16px;
    word-spacing: 3px;
    width: 1090px;
    position: relative;
   right: 150px;
    top: 540px;
    font-weight: 500;
    color: rgb(29, 60, 63);
    word-spacing: 10px;
   
    line-height: 30px;
    

}