.main6{
    display: flex;
    justify-content: space-between;

}
.loyalty{
    width: 3400px;
    font-size: 33px;
    font-weight: bolder;
position: relative;
right: 410px;
top:590px;


}
.main6p{
    font-size: 16px;
    position: relative;
    width: 2500px;
    right: 840px;
    top: 775px;
    font-weight: 500;
    color: rgb(29, 60, 63);
   
    line-height: 30px;
    

}