.main{
    max-width: 1220px;  
    max-height: 100vh;
    margin: 50px; 
}   
.main2 img{
    position: relative;
    bottom:-15px;
    position: absolute;
    left: 900px;
    z-index: 1000;
}
.mainword{
    position: relative;
    position: absolute;
    right: 630px;
    bottom: 270px;
    font-size: 60px;
    color: white;
    font-weight: 500;   
    line-height: 70px;
    width: 600px;
}
.span{
    color: aquamarine;
}
.mainwordp{
    position: relative;
    bottom: 195px;
    position: absolute;
    color: white;
    right: 670px;
    font-size: 18px;
    color: rgb(211, 211, 211);  
}
.btn1{
    position: relative;
    bottom: 80px;
    position: absolute;
    font-size: 14px;
    color: white;
    width: 180px;
    height:50px;
    padding: 10px;
    left: 210px;
    text-align: center;
    line-height: 25px;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(78, 169, 139);
}
.btn1:hover{
    background-color: rgb(49, 107, 88);
    transition: 0.3s ease-in all;
}
.btn2{
    position: relative;
    bottom: 80px;
    position: absolute;
    font-size: 14px;
    color: white;
    left: 410px;
    border: 1px solid whitesmoke;
    width: 220px;
    line-height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height:50px;
   
}
.btn2:hover{
    color: blue;
    transition: 0.3s ease-in all;
}
